* {
	margin: 0px;
	padding: 0px;
}
.clearfix {
	float: none;
	clear: both;
}

body {
	background: url("../img/hojas.jpg");
	background-attachment: fixed;
}

#global {
	width: 65%;
	margin: 0px auto;
	margin-top: 30px;
	padding: 25px;
	background: white;
	box-shadow: 0px 0px 2px gray;
}

#logo {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 75px;
	background: #235e3d;
	color: white;
	text-align: center;
	width: 385px;
	height: 80px;
	margin-bottom: 20px;
	float: left;
	text-transform: uppercase;
}

#menu {
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#menu ul {
	line-height: 46px;
	list-style: none;
}

#menu ul li {
	height: 46px;
	display: inline-block;
	transition: all 300ms;
}

#menu ul li:hover {
	background: #235e3d;
}

#menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}

#posts {
	width: 60%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

.post {
	padding: 7px;
}

.post h2 {
	font-size: 30px;
	color: #333;
}

.post .date {
	display: block;
	color: gray;
	margin-top: 5px;
}

.post p {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 22px;
	text-align: justify;
}

.button-more {
	font-size: 14px;
	text-align: center;
	display: block;
	padding: 15px;
	background: #235e3d;
	color: white;
	text-decoration: none;
	margin-top: 10px;
	width: 70px;
	margin-bottom: 20px;
}

#sidebar {
	font-family: Arial, Helvetica, sans-serif;
	width: 31%;
	float: right;
}

#sidebar h4 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 10px;
	color: #333;
	background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span {
	background: white;
	padding: 5px;
}

#sidebar img {
	width: 100%;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #ccc;
	width: 80%;
	margin-bottom: 10px;
	margin-top: 5px;
}

form input[type="submit"] {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	height: 47px;
	background: rgba(51, 51, 51, 0.7);
	margin: 0px auto;
	width: 65%;
	padding-left: 20px;
	padding-right: 20px;
}
